---
import "@fontsource-variable/onest";
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <section class="w-full lg:w-[740px] mx-auto  py-44" >
      <h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-4">
        Hola, soy Xavi Martin 
		<div class="flex justify-center items-center"><Badge>Buscando trabajo</Badge></div> 
      </h1>
      <h2 class="text-xl" >
        Desarrollador Full Stack. Con Poca experiencia laboral pero buen
        conocimiento en el desarrollo de aplicaciones , autodidacta de la
        programación. Trabajé como Cocinero durante +20 años hasta que deciodí
        cambiar de ámbito laboral. Soy una persona responsable y comprometida con
        mis objetivos personales y laborales.
      </h2>
      <ul></ul>
    </section>
  </main>
</Layout>
