<a
  class={`
    rounded-full border border-white/20
    flex justify-center items-center 
     px-1 gap-x-2 py-2 md:px-4 bg-white/5 
     text-xs lg:text-base
     transition
    hover:scale-110 hover:bg-white/10 
    `}
  {...Astro.props}
  target="_blank"
  rel="noopener noreferer"
>
  <slot />
</a>
